.App {
  text-align: center;
  margin-top: 20px;
}
.container-sm {
  opacity: 1;
}
.card {
  margin: auto;
  width: 700px;
  padding: 45px;
  opacity: 0.7;
  min-width: 900px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: url(https://www.dropbox.com/s/gbd8upnanqjj2z0/BG.jpeg?raw=1)
    no-repeat center center fixed;
  background-size: cover;
}
ul {
  list-style: none;
}
li,
.temp,
.unit {
  text-transform: capitalize;
  font-family: "Rubik Maze", cursive;
}
h1 {
  font-family: "Rubik Distressed", cursive;
}
.Weather {
  font-family: "Rubik Maze", cursive;
}
/*.form-control {
  position: relative;
  color: #333;
  font-size: 20px;
  width: 10px;
  letter-spacing: 5px;
  border-bottom: 16px solid #333;
  line-height: 1.4;
  font-family: consolas;
  text-transform: uppercase;
}*/
/*.form-control::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;

  color: dodgerblue;
  border-bottom: 16px solid dodgerblue;
  animation: lod 2s linear infinite;
  overflow: hidden;
}*/
@keyframes lod {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.btn {
  width: fit-content !important;
}
.btn:hover {
  transform: scaleX(1.1) scaleY(1.1);
  transition: background-color 0.5s ease !important;
  background-color: rgb(196, 242, 196) !important;
  color: #333 !important;
  border-color: rgb(196, 242, 196) !important;
}

.col-9,
.col-3 {
  padding-left: 20px;
}
.btn {
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
  color: black !important;
}

section {
  position: relative;
  width: 100%;
  height: 100hv;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Rubik Distressed", cursive;
}
h4 {
  font-size: 10px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  display: flex;
}
h4 span {
  transition: 1.5s;
}
h4:hover span {
  filter: blur(20px);
  opacity: 0;
  transform: scale(2);
}
h4 span:nth-child(10n + 1) {
  transition-delay: 0.1s;
}
h4 span:nth-child(10n + 2) {
  transition-delay: 0.2s;
}
h4 span:nth-child(10n + 3) {
  transition-delay: 0.5s;
}
h4 span:nth-child(10n + 4) {
  transition-delay: 0.7s;
}
h4 span:nth-child(10n + 5) {
  transition-delay: 0.9s;
}
h4 span:nth-child(10n + 6) {
  transition-delay: 1.1s;
}
h4 span:nth-child(10n + 7) {
  transition-delay: 1.3s;
}
h4 span:nth-child(10n + 8) {
  transition-delay: 1.5s;
}
h4 span:nth-child(10n + 9) {
  transition-delay: 1.7s;
}
a {
  color: #5f7d81 !important;
  font-weight: 800 !important;
}
i {
  font-size: 30px;
}
input form-control,
label {
  font-family: "Courier New", Courier, monospace;
  font-style: normal;

  font-size: 20px;
  line-height: 100%;

  text-transform: lowercase;
}
input .form-control {
  outline: none;

  border-radius: 26px;
  padding: 40px;
}
input form-control:focus {
  width: 40% !important;
  border: 5px solid #44b33a !important;
}
label {
  position: absolute;
  transform: translateX(-15%) translateY(-15%);
  transform-origin: left center;
  top: 0;
  left: 30px;

  pointer-events: none;
  transition: 0.3s ease-in-out;

  background-color: #fff;
  padding: 20px;

  opacity: 0.5;
}
.col-9 {
  position: relative;
}
input:focus + label,
input:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-50%) scale(0.5) translateX(10px);
  opacity: 1;
}
h1 {
  position: relative;
  transform: translateX(-5%) translateY(-5%);
}
